@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100&family=Roboto+Mono&family=Tilt+Neon&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

* {
  margin: 0;
}
